@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;

  --font-color-primary: #73767b;
  --font-color-secondary: #acbccc;

}
body {
  color: var(--font-color-primary);
  background: var(--background);
  font-family: var(--font-default);
  height: 100vh;
}
* {
  cursor: url("../../public/images/mouse.png"), auto;
}

.title {
  font-family: var(--font-secondary);
  color: var(--font-color-secondary);
  text-shadow: 2px 2px #0a0a0a;
}